* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #1f2937;
  height: 20em;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  padding: 1em;
}

nav p {
  color: white;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: gray;

}

.hero {
  display: flex;
  gap: 50px;
  color: white;
  padding: 2em;
}

.text {
  width: 50%;
}

.hero button {
  background-color: #3882f6;
  padding: 1em 2em;
  border-radius: 20px;
}

.hero-img {
  width: 300px;
  height: 200px;
}

.text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.images {
  text-align: center;
  padding: 3em;
}

.images h2 {
  margin-bottom: 2em;
}

.row {
  display: flex;
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

blockquote {
  background-color: #e5e7eb;
  padding: 4em;
  color: #1f2937;
}

blockquote p {
  font-weight: bold;
  margin-top: 1em;
  text-align: end;
}

.cta {
  background-color: #3882f6;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  color: white;
}

.cta button {
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #3882f6;
  border: 1px solid white;
  color: white;
}

footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 2em;
}